@media (min-width: 600px) {
    .analyse-block {
        flex: 1 1 calc(45% - 20px); /* Deux colonnes avec une certaine marge */
        margin: 10px; /* Gardez la même marge pour l'espacement */
    }
}



@media (max-width: 700px) {
    .slogan {
        font-size : 2rem;
    }
}